@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";





body{
    background-color: #240046;
    font-family: Outfit, sans-serif;
    
}

.result::-webkit-scrollbar{
    display: none; 
  }


  .logo{
    background: -webkit-linear-gradient(100deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }