@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";





body{
    background-color: #240046;
    font-family: Outfit, sans-serif;
    
}

.result::-webkit-scrollbar{
    display: none; 
  }


  .logo{
    background: -webkit-linear-gradient(100deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes hideCursor {
    to {
      opacity: 0;
      display: hidden;
    }
  }
 
  
  

  .typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid #8979bc;
    width: 0;
    animation: typing 2s steps(10, end) forwards, blink 0.8s infinite;
  }
  

  .typewriter::after {
    content: "|";
    animation: blink 0.8s infinite;
    display: hidden;
  }
  
  
  
  .typewriter::after {
    animation: blink 0.8s infinite, hideCursor 0s 1s forwards;
  
  }